<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>nfswebmail-web</display-name>
	<description>MOGU WebMail System</description>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<filter>
		<filter-name>authenticate-filter</filter-name>
		<filter-class>mogu.webmail.filter.AuthenticateFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>authenticate-filter</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
	<!-- Struts2的核心Action分发器 -->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>

    <listener>
		<listener-class>mogu.webmail.listener.InitListener</listener-class>
	</listener>

	<!--<servlet>-->
		<!--<servlet-name>JspSupportServlet</servlet-name>-->
		<!--<servlet-class>org.apache.struts2.views.JspSupportServlet</servlet-class>-->
		<!--<load-on-startup>1</load-on-startup>-->
	<!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>JspSupportServlet</servlet-name>-->
        <!--<url-pattern>*.jsp</url-pattern>-->
    <!--</servlet-mapping>-->

	<session-config>
		<session-timeout>600</session-timeout>
	</session-config>


    <security-constraint>
        <web-resource-collection>
            <web-resource-name>securedapp</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
</web-app>