@charset "utf-8";
/* CSS Document */
html, body {height:100%;}
body {background:#ffffff; font:12px Verdana,"宋体",Helvetica,sans-serif; margin:0px; padding:0px;}
dl, dt, dd, form, label, iframe, div, p, table, .button ,input, th, td,ul, ol, li{font:12px; margin:0; padding:0;}
ul, ol, li {list-style-type:none;}
img {border:0 none; cursor:pointer;}
h1, h2, h3, h4, h5, h6 {font-weight:normal; margin:0; padding:0;}
.clear{clear:both;}
.pointer{
	cursor: pointer;
}
/*--输入框--*/
input{margin-right:3px;}
input,select,textarea{font-size:12px;}
select{line-height:20px;}
input[type="button"], input[type="reset"], input[type="submit"], input[type="radio"], input[type="checkbox"] {cursor:pointer;}
.input-text,.input-info {line-height:14px;height:14px;vertical-align: middle;padding:2px;}
.input-text {width:140px;}
.input-info {width:140px;}
.select-time{ width:120px;}
.select-timezone{width:390px;}
.select-replay, .select-search-pop{width:148px;}
.select-time,.select-timezone,.select-replay{height:20px;}
.input-msg{width:116px; height:18px;}
.textarea-autoReply{width:500px;padding:5px; line-height:20px; margin-bottom:10px;}
.address_input{color:#000;padding-left:3px; line-height:16px; height:16px; margin-left:4px; border:solid 1px #C3C3C3;}
.textarea_list{color:#646464;height:150px; line-height:22px;width:371px; padding:5px;}
/*--输入框--*/

.txl-img, .g-title1, .removeUploadListFile, .botton-aa, .botton-bb,.botton-bbb, .txl-bt-s, .txl-bt, .personalMailBoxs-open, .personalMailBoxs-close{background-image:url(../images/com/com-img.gif); background-repeat: no-repeat;}
.line-index{background-position:-202px -115px; font-size:0px; height:3px;line-height:0px; margin:2px 0px 2px;}	

/*--保存草稿成功样式--*/
.saveDraftSuccess {border:1px solid #8BAD76; color: #333333; padding: 2px 5px 2px 5px;position: absolute;right: 50%;top:40px; z-index:60;}

#global{height:100%;}
	
/*--------------------login------------------*/
#login{height:520px;width:997px;margin:0 auto;}
.login-t{ width:997px; height:489px; background:url(../images/com/l-bg.png) no-repeat;}
.login_box{padding-top:275px;padding-left:555px;width:350px;}
.login_box table tr td{font-size:12px; height:30px;}
.login_error{color:red; font-weight:bold; height:20px; line-height:20px; padding-left:65px;}
.lable_name{height:18px;margin-right:3px;vertical-align:middle;width:16px;}
.login_fb{color:#9C9C9C;height:30px;line-height:30px;padding-right:30px;text-align:right;width:967px;}
.ipt_b{background:url(../images/com/com-img.gif) no-repeat; border:none; color:#ffffff; height:24px; margin:12px 10px 12px 0px; width:54px;}
.input_option{font-family:Arial, Helvetica, sans-serif;height:22px;line-height:22px;width:150px;}
.input_yh{width:106px;height:18px;line-height:18px;}
/*--------------------login------------------*/

/*--------------------header------------------*/
#header{height:70px; position:relative; width: 100%;background-repeat:repeat-x;}
.left-bg { position: absolute;left:0px; top:0px; height:70px; width: 300px;background-position:-287px -130px;}
.right-bg { position: absolute;right:0px; top:0px; display:inline; float:right; height:70px; width:600px;}
.search{display:block; float:right; line-height:20px; margin-top:15px; padding-right: 40px;}
.search-btn,.search-option{border:none; cursor:pointer; height: 23px;}
.search-btn{width:61px;}
.search-option {width:11px;}
.search-input{ background: #FFF; height:15px; padding:2px; width:170px;
	margin-top:0px !important;	
	* margin-top:-1px !important;
	_margin-top:-1px;
	 margin-right:3px;}
.search span {float:right; margin-left:2px;}
.welcome {left:194px; position:absolute; top:10px; z-index:1000;}
.welcome span {font-weight:normal;}
.welcome span a{border-right:1px solid #000; text-decoration: underline; margin-right:6px; padding-right:6px;}
.welcome span a.last{border:0 none; margin-right:0px;}
/*--------------------header------------------*/

/*----------------------menu------------------*/
#menu{left:0px; position:absolute; width:189px;}
#menu a{text-decoration:none;}

.first-layer{height:36px;}
.first-layer{background-position:-199px 0px;}
.first-layer span{float:left;}
.first-layer span a{ color:#000; font-size:14px;}
#menu a.write-msg,#menu a.receive-msg{display:block;line-height:36px; padding-left:40px; width:53px;} /*写信收信*/

.second-layer{width:189px;}
.second-layer ul {margin-top:8px;}
.second-layer ul li{overflow:hidden; white-space:nowrap; word-wrap:break-word;}
.second-layer ul li a{ padding-left:25px; line-height:26px;}
.second-layer ul li.on {display:block; height:26px; background-position:-200px -49px;}

.personalMailBoxs-open{background-position:-289px -190px;}
.personalMailBoxs-close{background-position:0px -190px;}
.wm_personalMailBoxs-open{cursor: pointer;padding-left: 25px; background-position:-282px -188px;background-image: url("../images/com/com-img.gif"); background-repeat: no-repeat;}
.wm_personalMailBoxs-close{cursor: pointer;padding-left: 25px; background-position:7px -188px;background-image: url("../images/com/com-img.gif"); background-repeat: no-repeat;}
.second-layer ul.second-layer-nav {margin:8px 2px 0px 0px;}
.second-layer ul.second-layer-nav li{line-height:22px; height:22px; margin:1px 5px;  position:static;}
.second-layer ul.second-layer-nav li.on a{line-height:24px;}	
.txl-img{background-position:-280px -155px;}
/*----------------------menu------------------*/

/*--------------------content----------------*/
.main-div{ left:189px; position:absolute; top:70px;right:0px;}
.main-div-1{height:100%; width:100%;}
.mpage{ height:auto; overflow-x:hidden; overflow-y:auto;padding:2px;}

/*-------------------导航条----------------------*/
.lb-tit, .lb-tit1{background-repeat:repeat-x; background-position:0px -93px; height:36px; width:auto; z-index:1;}
.lb-tit .tit-side{line-height:36px;float:left;}
/*--信分页--*/
.ibxNav,.ibxSearchNav{float:right; margin-right:3px;}
.ibxNav .select_text,.ibxSearchNav .select_text{ height:22px; line-height:22px; width:70px;}
.btnPre, .btnNxt {cursor: pointer; display:block; height:18px; width: 20px; }
.btnNxt{background-position:-565px -80px; margin-left:3px;}
.btnPre{background-position:-700px -80px;}
	
.navMsg{color:#333333; display:block; float:right; line-height:36px; margin-left:10px; text-decoration:none;}
.navMsg a{color:#000; text-decoration:none; }

/*下拉菜单样式*/
/*--title中灰色的小三角--*/
.MenuBarItemSubmenu, .MenuBarItemSubmenuDetail{background:url(../images/com/com-img.gif) -150px 7px no-repeat; cursor:pointer;
height:36px;
margin:0px 3px 0px 3px;
padding:0px;
width: 12px;
}

/*--title中的li--*/
.li_img { height:36px; padding:0px 0px 0px 0px; width:1px; margin:0px 5px;}
.tit-side .tabnav {line-height:36px; list-style-type: none;}
.tit-side .tabnav a {color:#000000; display: block; font-size:12px; text-align:center;}
.tit-side .tabnav li span{float:left; padding:0px 5px 0px 27px; }
.tit-side .tabnav li b{float:left;}
	
.mousein{margin-top:36px; *margin-left:-75px !important; _margin-left:-75px !important;}	
	
.tit-side .tabnav a:link {color:#000000; text-decoration:none; margin:0;}
.tit-side .tabnav a:visited {text-decoration:none; margin:0;} 
.tit-side .tabnav a:hover {color:#000000; text-decoration:none;}             
.tit-side .tabnav li {float: left;}                 
.tit-side .tabnav li a:hover {}    
.tit-side .tabnav li ul {
	line-height: 24px;	
	text-align:left;
	width:86px;
	position: absolute;
	background-color:#ffffff;	
	padding:1px;	
	overflow:hidden;white-space:nowrap;word-wrap:break-word;margin-left:-1px;
}

.pic_r_6,.pic_r_2,.forward,.mark,.pic_r_9,.pic_r_11,.pic_r_8,.pic_r_4,.pic_r_1,.return,.reply,.more,.finish-draft,.edit-new-mai
{background-image:url(../images/img/skin_yeahblue/ico.gif);background-repeat:no-repeat;}
.pic_r_6{background-position:8px 10px;}/*--删除--*/
.pic_r_2{background-position:-90px 10px;}/*--移动到--*/
.forward{background-position:-194px 10px;}/*--转发--*/
.mark{background-position:-292px 10px;}/*--标记--*/
.pic_r_9{background-position:5px -48px;}/*--发送--*/
.pic_r_11{background-position:-90px -48px;}/*--保存草稿--*/
.pic_r_8{background-position:-197px -48px;}/*--取消--*/
.pic_r_4{background-position:-292px -48px;}/*--显示抄送--*/
.pic_r_1{background-position:-405px -48px;}	/*--显示密送--*/
.return {background-position:8px -48px;}/*--返回--*/
.reply {background-position:-90px -48px;}/*--回复--*/
.more {background-position:-194px -19px;}/*--更多--*/ 
.finish-draft {background-position:3px -120px;} /*--完成草稿--*/
.edit-new-mail {background-position:3px -84px;}
	
.tit-side .tabnav li ul li {background-color:#FFF;}
.tit-side .tabnav li ul a {border:solid 1px #ffffff; padding-left:2px; }
.tit-side .tabnav li ul a:hover {background:#FEF5BC; border:solid 1px #FFC467;}
.tit-side .tabnav li ul a, .tit-side .tabnav li ul a:hover{color:#000000; height:22px; text-align:left; width:81px; }
.tit-side .tabnav li:hover ul {left:auto;}


/*------------阅读邮件样式-------------*/
.return{font-weight:bold;}
.m_right{padding:10px 0px 0px 10px; text-align:left;}
.mail_cklb{}
.fj_div{margin-bottom:10px; width:auto; }
.xxlb_div{ margin: 8px 0; width:auto;}
.cklb_kuang{background-color:#ffffff; line-height:25px; overflow-y:hidden; overflow-x:hidden;}
.ck_b{font-size:14px;}
.mijimail{width:200px; text-align:right; position:absolute; right:20px; top:45px;}
.mijimail ul li{list-style-type:none; line-height:24px;}
.mailHeaderIco {margin-right: 5px;}


.fj_list{padding:5px; margin:10px 0px 10px 0px;}
.fj_list table{font-size:12px;}
.fj_list table tr td{line-height:20px; height:20px;}
.black{color:#000; text-decoration:none;}
/*------------阅读邮件样式-------------*/

/*---------------写信 write---------------*/
.write-img{height:60px; position:absolute; right:206px; top:47%; width: 7px; z-index:1;}
.write-all{margin:10px 0 8px 10px;}
#uploadForm {left:88px; position:absolute; top:132px;}

.enclosureImage{line-height:20px; padding:2px 0 4px 10px;}
.fleft{float:left;}
.upfldiv{float:left; margin-right:4px; margin-top:4px; padding-left:2px;}
.upflbar{background-color:#FAFAFA; border: 1px solid #CCCCCC; width:100px; overflow:hidden; padding:1px;}
.ctn {font-size:1px; height:9px; line-height:1px; margin:0; overflow:hidden; padding:0; width: 0;}

.removeUploadListFile{background-position:-260px 4px; display:inline-block; line-height:16px; padding-left:16px; text-decoration:none; margin-top: 1px;}

#contactPersonList {background-color:#FFFFFF; display:none; line-height:20px; position:absolute; z-index:200;}

.write-all img {border: none;}
.write-side/*xxlb-left*/{}
.xxlb-div{padding:6px 0px 0px 3px; line-height:20px; width:auto;}
.xxlb-div select{height:20px;}
.xx-select{font-family:"宋体";}
.xx-input, .xx-subject{line-height:14px; height:14px; vertical-align: middle; padding:3px; overflow: hidden; white-space:normal;width:99%;}
.xx-subject, .xx-search-input, .address_input, .pw_input, .xx-input{background-color:#fff;}

.xxlb-kuang {height:auto;padding-left:6px;}
.xxlb-div .font-padding {padding-left:5px;}
.xxlb-div .font-padding a {color: #000000; text-decoration: underline;}
.xxlb-kuang .xxlb-kuang-textarea {width: 99%;}

/*--写信联系人div--*/
.write-rt/*lx-mail*/ {position: absolute; right:0px; top:48px;}
.lx-mail-title {background-position: 0px -582px; background-repeat:repeat-x; height: 26px;line-height: 26px;}
.lx-mail-title span {padding-left:10px;}
.lx-mail-bottom {background-color:#ffffff; overflow-y:auto; overflow-x:hidden; width:198px;}
.lx-mail-bottom .czlx-box-t {border-bottom: solid 1px #EEEEEE; height: 25px; padding:10px 2px 6px 6px; }
.xx-search-input{border: solid 1px #CCCCCC; line-height: 14px; height: 14px; width:110px; vertical-align:middle; padding:2px; margin-right:5px;}
.czlx-box-b { padding-top:5px; width: 170px;}
.czlx-box-b .open-img,.close-img{width:9px; height:6px; padding-right:2px;}
.czlx-box-b li {list-style-type:none;}
.czlx-box-b li span img {padding:0px 5px 0px 0px;}

/*--写信联系人 nav--*/
#nav_write li{line-height:26px; text-align:left;}
#nav_write .personalMailBoxs-close,#nav_write .personalMailBoxs-open{padding-left: 25px;}
#nav_write li a {color: #333333; text-decoration:none;}
#nav_write li ul a {display:block;}
#nav_write li ul a,#nav_write li ul a:visited{border:1px solid #FFFFFF;}
#nav_write li ul a:visited,.write-all #nav_write li ul a:hover{color: #666666;}
#nav_write li ul a,#nav_write li ul a:visited,.write-all #nav_write li ul a:hover{	
	overflow:hidden;padding-left:12px; width:140px; white-space:nowrap; word-wrap:break-word;}
.write-all #nav_write li ul a:hover {background:#FEF5BC; border: 1px solid #FFC467;}

.writeMailGroupList{margin-left:11px;}
	
.write-mail-form{vertical-align:top; table-layout:fixed; width:100%;}
.write-mail-form th {font-weight:normal; padding-top:5px; text-align:right; vertical-align:middle; width:5.5em;}
.write-mail-form td{padding:7px 0px 0px 0px; vertical-align:top;}
	
.attachmentsList-div table td{padding:0px;}
.none-padlt{margin-bottom:5px;}	
.none-padlt td{padding:0px;} 	
/*---------------写信 write---------------*/

/*---------------写信 success---------------*/
.ls-text{background-position:0px -248px; background-repeat:repeat-x; height:300px; width:auto; padding:20px 0px 0px 25px;}
.ls-text img{}
.ls-text h2{font-size:14px; padding:15px 0px 20px 0px;}
.ls-text h2 font{font-size:12px; font-weight:normal; padding-left:15px;}

/*---------------按钮---------------*/
.botton-aa {height:25px; width:51px; line-height:25px;}
.botton-bb{background-position:-254px -127px; width:46px; height:20px; line-height:20px;}
.botton-bbb{ background-position: -172px -33px;height: 25px;line-height: 20px;width: 65px;}
.botton-aa{background-position:-249px -33px;}
.input_return{background:url(../images/com/com-img.gif) -201px -94px no-repeat; margin-right:15px;width:99px;}
.input_write{background:url(../images/com/com-img.gif) -220px -61px no-repeat; width:80px;}
.input_return,.input_write{border:none; cursor:pointer;line-height:25px; height:25px;margin:5px 0px; padding:0px;}
.botton-aa,.botton-bb,.botton-bbb,.create_identifier_btn{border:medium none; text-align:center; font-size:12px;}
	
.create_identifier_btn{background-position:-203px -87px; width:66px; height:22px; line-height:22px; padding:0px;}
/*---------------按钮---------------*/

/*--------------------收信列表title----------------*/
.g-title1{border-bottom:dashed 1px #000000; background-position: -285px 10px; margin:0px 10px 10px 10px;}	
.g-title1 h4 {font-size:13px; font-weight:normal; padding-left:22px; line-height:33px;}
.g-title1 h4 .font_wb{font-weight:bold;}
.g-title1 h4 .font_wn{font-weight:normal; font-size:12px;}
font{font-size:12px; color:#000;}
/*--颜色定义--*/
.red{color:#ff0000; padding:0px 2px 0px 2px;}
.black{color:#000000; text-decoration:underline; padding-left:10px;}
/*--------------------收信列表title----------------*/

/*--------------------收信列表内容----------------*/
.mail_li{width: 100%; +width:98%}
.mail-box {padding: 0 10px 0px 10px;}
.mail-box-title{background-repeat:repeat-x; background-position:0px -154px;}
.mail-box-title th {border-right: solid 1px #cccccc; height: 29px;padding:0 6px;}
.mail-box-title th font {float: left;}
.mail-box-title th .padding_ico {cursor:pointer; padding-left:12px; margin-left:10px;}/*--上下顺序图片--*/
.i1{width:27px;}
.i2{width:90px;}
.i3{width:170px;}
.i4{width:27px;}
.i5{}
.i6{width:150px;}
.i7{width:65px;}
.i9{width:65px;}
.i1,.i2,.i3,.i5,.i4,.i6,.i7{
	 border-bottom: 1px solid #D6B99C;
    border-color: #D6B99C;
    border-right: 1px solid #D6B99C;
    overflow: hidden;
    padding: 6px;
    white-space: nowrap;
	}
.div-border-none table tr td{border-bottom:none; padding:0px;}/*收信列表图片的div*/
.img-span {
    float: left;
    height: 10px;
    padding: 0 3px 0 4px;
    width: 19px;}
.flagfalse{
	background: url("../images/com/flag-false.gif") no-repeat scroll 5px 0 transparent;
}
.flagtrue{
	background: url("../images/com/flag-true.gif") no-repeat scroll 5px 0 transparent;
}
div.haveRd {height:11px; float:left;}
tr.not-seen { /*邮件未读*/font-weight: bold;}
tr.flagged { /*邮件被标记*/color: red ;}
.mail-bottom-line {empty-cells:show; border-collapse:collapse;}
.mail-bottom-line td{cursor:pointer; border-bottom:1px solid #E3E3E3; font-family:"宋体";line-height:28px;empty-cells:show;padding:0px 7px;white-space:nowrap;overflow:hidden;text-overflow:clip;} 
#mailList .mousein{background-color:#FFFDD7; cursor:pointer;}/*--鼠标移动到列表上变色--*/
.mailbox-bottom-line {empty-cells:show; border-collapse:collapse;}
.mailbox-bottom-line td{ border-bottom:1px solid #E3E3E3; font-family:"宋体";line-height:28px;empty-cells:show;padding:0px 7px;white-space:nowrap;overflow:hidden;text-overflow:clip;} 
/*--------------------收信列表内容----------------*/

/*--------------------看信----------------*/
.vm_option_ul li{
	padding: 3px;
}
.viewMailFromAddress
{
	cursor: pointer;
}
.recipients span
{
	cursor: pointer;
}
.recipients{
	_height: expression( this.scrollHeight > 50 ? "50px" : "auto" );
	max-height: 50px;
	overflow-y:auto;
	overflow-x:hidden;
	display: block; 
}
.recipients span{
	display: block;
	float: left;
}
#vm_attachments_list{
	_height: expression( this.scrollHeight > 50 ? "50px" : "auto");
	max-height: 50px;
	overflow-y:auto;
	overflow-x:hidden;
	 text-decoration: none;
}
}
#vm_attachments_span{
	text-decoration: none;
}

#vm_attachments_span span
{
    text-decoration: none;
}
/*--------------------看信----------------*/

/*----------------弹出窗口-------------*/
.tt{background:#ffffff; cursor:pointer;border:1px solid white;}
.aa{cursor:pointer;color:#000000;background-color:#FEF5BC;border:1px solid #FFC467;height:20px;}

/*----------------------------设置---------------------------*/
/*导航菜单*/
.setup {height:100%; overflow-y:auto;overflow-x:hidden}
.tab{height:37px; width:100%;}
.tab li {float:left; list-style:none outside none; display:inline-block;}
.tab a {color:#000; display:block; margin:1px 1px 1px 0; padding:12px 10px 0px 10px; text-decoration:none !important;}
.tab a.selected {background:#fff; _border-bottom:solid 1px #fff; color:#000000; float:left; font-weight:bold; margin:6px 0px -1px 0px; padding:6px 10px 10px 10px;}
.tab-div {clear:left; display: none; padding:10px 10px 8px; }
a {outline:medium none;}
/*导航菜单*/

/*--通讯录联系人--*/
.font-weight,.link_font{font-weight:normal;}
.fleft{float:left;}
.fright{float:right;}
.link_font{text-decoration:underline;}
/*通讯录树状*/
.treeview{margin:0px 5px 5px 7px; padding: 0; padding-top:5px;}
.treeview .hitarea {background: url(../images/com/com-img.gif) no-repeat scroll -289px -185px; cursor: pointer; height:16px; width:13px; float:left;}
/* fix for IE6 */
* html .hitarea {display:inline; float:none;}
.treeview li{line-height:22px; padding:2px 0px;}
.treeview li.collapsable input, .treeview li.expandable input{margin-right:3px;}
.treeview .expandable-hitarea {background: url(../images/com/com-img.gif) no-repeat 0px -185px;}
.tree-div{}
#nav_group .open_img,.close_img {height:6px; padding-right:2px; width: 9px;}
#nav_group li ul li {list-style-type:none;}
#nav_group li a {color: #333333; text-decoration: none;}
#nav_group li ul a {display:block; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; width:160px;}
#nav_group li ul a,#nav_group li ul a:visited {border: 1px solid #FFFFFF; padding-left:15px;}
#nav_group li ul a:visited {color: #666666; text-decoration: none;}
#nav_group li ul a:hover {background: #FEF5BC; border: solid 1px #FFC467; color: #666666; text-decoration: none; padding-left:15px;}

/*--灰色的title--*/
.addlt{background:#F6F6F6; border: solid 1px #cccccc; height:28px;}
.addlt tr th{border:solid 1px #E2E2E2; border:solid 1px #E2E2E2; height:28px; padding:0px 4px; text-align:center; }
/*--灰色的title--*/

/*--联系人列表--*/
.txl_right {margin:10px 0px 0px 10px;}
.addLT {border-collapse:collapse; table-layout:fixed; width:100%; border:solid 1px #E2E2E2; empty-cells:show;}
.addLT tr th{border:solid 1px #E2E2E2; border: solid 1px #cccccc; background:#F6F6F6; padding:0px 4px; text-align:center; height:28px;}
.addLT td {border-bottom:1px solid #E2E2E2; height:28px; padding:0px 7px; word-wrap: break-word;;}
.addL1 {text-align:center; width:25px;}
.addL2 {width:125px;}
.addL3 {width:60px;}
.addL4 {width:80px;}
.addL5 {width:200px;}
.addL6 {}
/*--联系人列表--*/

/*--邮件夹列表专用--*/
.table-ls{border-collapse:collapse; line-height:28px; border:solid 1px #E2E2E2;}
table tfoot tr td{padding:0 4px;}

/*--个人信息 反垃圾策略--*/
.div-list{border:medium none; padding:0px 10px 0; width:auto;}
.div-list h2 {font-size:12px; font-weight:bold; line-height:29px; padding-left:10px;}
.div-list .font-z12 {font-size:12px; font-weight:normal;}
.div-box,.div-box1{line-height:30px; margin:10px 0px 10px 0px; width:auto;}
.div-box1{margin-left:60px;}
.div-box table{}
.div-box table tr td,.div-box1 table tr td{line-height:30px;}
.div-box input,.div-box1 input{ margin-right:3px;}

.create_identifier{width:160px; height:295px; float:right; overflow-y:auto; padding:10px 20px 10px 10px; margin-left:20px; display:inline; }
.create_identifier ul li{line-height:25px; clear:both;}
.create_identifier ul li a.fl-lt{float:left;}
.create_identifier ul li a.fl-rt{float:right;}
/*--修改密码 等其他--*/
.modify-password,.auto-transmit,.display-option,.auto-reply{padding:10px 0px 10px 0px; margin:0 auto;}	
.auto-transmit table tr td,.display-option table tr td,.auto-reply table tr td{height:30px; padding:0px 5px;}
.posswordTable{/*width:350px;*/margin:10px 0px 10px 10px;}
.posswordTable td{height:35px;}
.pw_input {border:1px solid #7F9DB9; font-size:12px; width:220px; line-height:14px; height: 14px; vertical-align: middle; padding:5px;}
.skin-lineht{height:35px;}
	
/*--搜索联系人搜索结果样式--*/
.searchEmailAddressList{cursor:pointer; border:1px solid #ffffff; height:30px; line-height:15px; padding:4px 6px; overflow:hidden;}
.searchEmailAddressListMove{background-color:#FEF5BC; border:1px solid #FFC467; color:#000000;}
/**收件人 、抄送、密送获得焦点时候的样式**/
.focusBackColor{background-color:#FFFADD; border:1px solid #FFC467;}

.nfschinaDialog{}
.nfschinaDialogTop{display:none;}
.nfschinaDialogHead{ background-position:0 -660px; font-size:12px; position:relative; height:27px;}	
.nfschinaDialogH2{ font-weight:bold;  line-height:27px; margin:0; padding:0px 0px 0px 13px;}
.nfschinaDialogH2 span{color:#fff; font-size:14px;}
.nfschinaDialogClose{position:absolute; right:6px; top:6px;}
.nfschinaDialogClose a{ color:#fff;}
.nfschinaDialogBody{background-color:#ffffff; font-size:12px; padding:10px; overflow: auto; }
.nfschinaDialogBody form{margin:0; padding: 0;}
.addPersonText,.modifyPersonText{font-size:12px; height:14px; line-height:14px; padding:2px; vertical-align:middle; width:150px;}
.pop td{line-height:28px; white-space:nowrap;}
.nfschinaDialogButton{text-align:right; height:40px;}
.nfschinaDialogButton button{background:url("../images/com/com-img.gif") -172px -33px no-repeat; border:none; width:65px; height:25px; line-height:25px; margin:7px 10px 0px 0px; cursor:pointer; padding:0px;}
.nfschinaDialogBottom{display:none;}
.nfschinaDialogBg{background-color:black; position:absolute; top:0; left:0; z-index:1001;}
.nfschinaDialogBgIframe{background-color:black; border:0px;  left:0; top:0;}

#showMore{cursor: pointer;}

/*------------归档窗口---------------*/
.bMailDialog{}
.bMailTable tr td{ height: 25px; line-height: 25px;}
.bMailTable tr td span{ margin: 0 5px;}
.bMailTable tr td .sep{ color:#999}
/*--------errorPage------*/
.eimg{
	  background:url(../images/com/skin-img.png) 0px -155px no-repeat;	  
	  width:90px; height:80px; margin-right:20px;
	 }
.fl{ float:left;}
.border_div{ border-bottom:dashed 1px #333; line-height:35px; width:400px; margin-bottom:5px;}
.border_div h3{ font-size:12px;font-weight:bold;}
.err-font{color:#333333; padding-left:15px; margin-top:10px; margin-bottom:10px; }
.err-font p.p1{line-height:20px;}
.err-font p.p2{}
.err-font p.p2 a{ color:#333; padding:0px 5px;}

.txl-bt-s{background-position:-113px -29px; text-decoration:none; margin:0px 0px 0px 6px; width:44px;}	
.txl-bt{width:68px; background-position:-38px -29px; margin:0px 0px 0px 3px;}
.txl-bt-s,.txl-bt{font-weight:normal;  height:29px; line-height:29px; text-align:center; float:left;}
.txl-bt-s,.txl-bt{color: #0D579F;}

/*--收信列表图标--*/
.mail-ico, .fj-ico, .refw-ico, .jj-ico, .up-ico, .down-ico, .flag-flase-ico, .flag-true-ico, .re-ico, .fw-ico{background-image:url(../images/com/com-img.gif);background-repeat:no-repeat;}
.mail-ico{width:14px; height:11px;background-position:0px -70px;}
.fj-ico{width:7px;height:12px;background-position:-18px -70px;}
.refw-ico{background-position:-30px -70px;}
.jj-ico{width:4px; height:10px;background-position:-51px -70px;}
.up-ico, .down-ico{width:9px; height:9px;}  /*--收信列表升序降序排序图标--*/
.up-ico{background-position:0px -87px;}
.down-ico{background-position:-14px -87px;}
.flag-flase-ico, .flag-true-ico{width:12px; height:11px;}
.flag-flase-ico{background-position:-73px -70px;}
.flag-true-ico{background-position:-55px -70px;}
.re-ico, .fw-ico, .refw-ico{width:17px; height:17px;}
.fw-ico{background-position:-29px -90px;}
.re-ico{background-position:-49px -90px}	
/*--收信列表图标--*/

/*--换肤img--*/
.blue-img,.green-img,.brown-img,.flower-img,.pencil-img{width:152px; height:148px;background-image:url(../images/com/skin-img.png);background-repeat:no-repeat;}
.blue-img{background-position:0px -1px;cursor:pointer}
.green-img{background-position:-165px -1px;cursor:pointer}
.brown-img{background-position:-494px -1px;cursor:pointer}
.flower-img{background-position:-662px -1px;cursor:pointer}
.pencil-img{background-position:-328px -1px;cursor:pointer}
/*--换肤img--*/
